<!DOCTYPE HTML>
<html>
<head>
    <title>Simple checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Checkout</h1>
    <table width="50%">
        <tr>
            <td>
                Product
            </td>
            <td>
                Quantity
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>

    <label>Total amount: €0</label>

    <form>
        <label for="product">Choose a product:</label>

        <select name="productId" id="product">
            <option value="1">Pen</option>
            <option value="2">TShirt</option>
            <option value="3">Mug</option>
        </select>

        <label for="quantity">Quantity:</label>
        <input id="quantity"/>
        <input type="submit" value="Submit" onclick="alert('hola')"/>
    </form>
</body>
</html>